.header {
    padding: 50px;
    background: blue;
    position: relative;
}

.container {
    height: 500px;
    background: black;
    /* position: relative; */
}

.child_1 {
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    top: 100px;
    right: 50%;
}